<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Original Gangster es una empresa dedicada a ofrecer servicios/productos de alta calidad en el ámbito de la moda. Nos enfocamos en brindar una experiencia excepcional a nuestros clientes, desde el momento en que visitan nuestra página web hasta el momento en que reciben nuestros productos/servicios. Con años de experiencia y un equipo de expertos en <tema de la página web>, estamos comprometidos en ofrecer soluciones innovadoras y personalizadas que satisfagan las necesidades únicas de cada cliente. Explora nuestra página web para descubrir lo que podemos ofrecerte y contáctanos hoy mismo para empezar a trabajar juntos.">
    <meta name="keywords" content="Diseño minimalista, Diseño moderno, Diseño funcional, Diseño atemporal, Diseño de alta calidad, Galería de proyectos, Inspiración, Experiencia excepcional, Soluciones innovadoras, Personalización, Servicios de diseño, Diseño de páginas web, Diseño gráfico, Diseño de interiores, Diseño de productos, Expertos en diseño, Compromiso con el cliente.">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/logo1.png">//

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../css/style.css">
    <title>Original Gangster</title>
    <meta name="title" content="Original Gangster -  Viste con comodidad y estilo en nuestra tienda de ropa">
</head>
<body>
   
  <header>
      <div class="logo">
            <img src="../assets/images/logo1.png" alt="logo">
          </div>
            <h1>ORIGINAL GANGSTER</h1>
            <nav class="navbar navbar-expand-lg nav-mia">
              <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                    </li>                    
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="../views/mujeres.html">Mujeres</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="../views/hombres.html">Hombres</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="../views/sobrenosotros.html">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active"  href="../views/contacto.html">Contacto</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
    </header> 
    <main>


      <form>
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required>
        </div>
        <div class="form-group">
          <label for="apellido">Apellido:</label>
          <input type="text" id="apellido" name="apellido" required>
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono:</label>
          <input type="tel" id="telefono" name="telefono" required>
        </div>
        <div class="form-group">
          <label for="email">Correo electrónico:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="consulta">Consulta:</label>
          <textarea id="consulta" name="consulta" rows="8"></textarea>
        </div>
        <div class="form-group">
          <button type="submit">Enviar consulta</button>
        </div>
      </form>
      
      <div class="container">
        <div class="text">
          <h2>Título del texto</h2>
          <p>asjdasjddddd</p>
        </div>
        <div class="image">
          <img src="../assets/images/contenedor1.jpg" alt="Descripción de la imagen">
        </div>
      </div>     
       
        
    </main>
    
    <footer>
      <div class="container-mio">
        <div class="column">
          <h3>Términos y condiciones</h3>
          <ul>
            <li><a href="../views/condiciones.html">Política de privacidad</a></li>
            <li><a href="../views/condiciones.html">Condiciones de uso</a></li>
            <li><a href="../views/condiciones.html">Política de cookies</a></li>
          </ul>
        </div>
        <div class="column">
          <h3>Políticas de uso</h3>
          <ul>
            <li><a href="../views/politicas.html">Política de devoluciones</a></li>
            <li><a href="../views/politicas.html">Garantía de productos</a></li>
            <li><a href="../views/politicas.html">Política de envíos</a></li>
          </ul>
        </div>
  
        <div class="column">
          <h3>Redes sociales</h3>
          <ul>
            <li><a href="https://www.facebook.com/">Facebook</a></li>
            <li><a href="https://www.twitter.com">Twitter</a></li>
            <li><a href="https://www.instagram.com">Instagram</a></li>
          </ul>
        </div>
        <div class="column">
          <h3>Contactanos</h3>
          <ul>
            <li><a>Email: info@ejemplo.com</a></li>
            <li><a>Teléfono: +1 123 456 7890</a></li>
            <li><a>Dirección: 123 Calle Principal, Ciudad</a></li>
          </ul>
        </div>
  
    
        
  
      </div>
    </footer> 
    
  </body>
  
  
  </html>