@mixin estilo-boton($fondo, $texto) {
    background-color: $fondo;
    color: $texto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @mixin caja-grandeM($valor1, $valor2, $valor3, $valor4){
    display: grid;
    margin: 20px 0; 
    grid-gap: 20px; 
    grid-template-columns: $valor1, $valor2;
    grid-template-rows: auto $valor3;
    font-size: $valor4;
  }

  @mixin main-estilo(){
    display: flex;
    align-items: center;
    background-color:  $color-quinto;
    padding: 20px;
  }
  
  @mixin img-estilo2(){
    width: 50%;
    height: auto;
    margin-right: 20px;
}