$color-primario: #202224;
$color-secundario: #ffffff;
$color-tercero: #ccc;
$color-cuarto: #e6e6e6;
$color-quinto: #f2f2f2;
$ancho-boton: 100px;
$fuente-m: 'Oswald', sans-serif, Arial;
$colores: #0066cc, #cc0000, #00cc00;
