footer {
    background-color: map-get($colors, secondary);
    color: $color-secundario;
    padding: 50px 0;
    text-align: center;
  }
  
  
  .container-mio {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .column {
    width: calc(25% - 20px);
    margin-right: 20px;
  }
  
  .column:last-child {
    margin-right: 0;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  a {
    color: $color-secundario;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  
  @media only screen and (max-width: 768px) {
    .container {
      justify-content: center;
    }
    
    .column {
      width: 50%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    
    .column:last-child {
      margin-bottom: 0;
    }
  }