@import '../base/mixin';

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-secundario;
    padding: 30px; 
    font-family: $fuente-m
}
    h1{
       margin: 0;
    }


.logo {
    width: 50px;
    margin-right: 20px
}

.logo img {
    @extend .img-estilo;
}
            

.nav-mia{
    margin-left: auto;
    color: $color-secundario
}
